- name: Generate Maven settings.xml
  run: |
    echo '<?xml version="1.0" encoding="UTF-8"?>' > $GITHUB_WORKSPACE/.github/settings.xml
    echo '<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">' >> $GITHUB_WORKSPACE/.github/settings.xml
    echo '  <servers>' >> $GITHUB_WORKSPACE/.github/settings.xml
    echo '    <server>' >> $GITHUB_WORKSPACE/.github/settings.xml
    echo '      <id>nexus</id>' >> $GITHUB_WORKSPACE/.github/settings.xml
    echo '      <username>${{ secrets.NEXUS_REPO_USER }}</username>' >> $GITHUB_WORKSPACE/.github/settings.xml
    echo '      <password>${{ secrets.NEXUS_REPO_PASS }}</password>' >> $GITHUB_WORKSPACE/.github/settings.xml
    echo '    </server>' >> $GITHUB_WORKSPACE/.github/settings.xml
    echo '  </servers>' >> $GITHUB_WORKSPACE/.github/settings.xml
    echo '</settings>' >> $GITHUB_WORKSPACE/.github/settings.xml

- name: Check contents of settings.xml
  run: |
    cat $GITHUB_WORKSPACE/.github/settings.xml
    echo "End of settings.xml content"

- name: Run Maven deploy
  run: |
    mvn deploy -DskipTests \
    -Dmaven.repo.local=/home/runner/work/devops/devops/.m2/repository \
    -s $GITHUB_WORKSPACE/.github/settings.xml
